In [56]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [57]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [58]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# создание столбца profit:
data['profit'] = data['revenue'] - data['budget']

# создание столбца release_month
data.release_date = pd.to_datetime(data.release_date)  # меняем формат данных столбца release_date на формат времени
data['release_month'] = data.release_date.dt.month  # и добавляем нужные данные в новый столбец
# тоже самое можно сделать и так:
# def release_month(s):  
#     if  '/' in s: 
#         n = s.index('/')
#         return s[:n]
# data['release_month'] = data.release_date.apply(release_month)
# но данные столбца release_month останутся в формате str, что может быть не совсем удобно

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [59]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [60]:
# находим строчку с максимальным бюджетом, записываем её в отдельный датасет
# и выводим этот датасет:
biggest_budget = data[data.budget == data.budget.max()]
display(biggest_budget)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

ВАРИАНТ 2

In [61]:
# можно так: формируем строки основного датасета в порядке 
# убывания бюджета и выводим первую строчку:
data.sort_values(['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

In [62]:
# ещё можно так: находим строку основного датасета с макимальным бюджетом и выводим её.
# почти как в первом варианте, но с другим методом и без записи в новый датасет.
data.nlargest(1, 'budget')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [63]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [64]:
# как сказал классик в предыдущей ячейке:
# "думаю, логику работы вы уже поняли",
# поэтому в следующих двух вопросах обойдёмся без комментариев
biggest_runtime = data[data.runtime == data.runtime.max()]
display(biggest_runtime)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [65]:
shortest_runtime = data[data.runtime == data.runtime.min()]
display(shortest_runtime)

answers['3'] = '3. Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [66]:
# находим среднее значение в столбце runtime и округляем его:
print(round(data.runtime.mean()))
# по неизвестной причине метод mean() не захотел выводить на экран,
# пришлось добавить принт
answers['4'] = '2. 110'

110

# 5. Каково медианное значение длительности фильмов?

In [67]:
# а здесь можно обойтись без округления:
print(data.runtime.median())

answers['5'] = '1. 107'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [68]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# Так и быть, вынес создание столбца profit в Предобработку,
# в остальном в этом и следующем вопросах всё опять стандартно.
best_profit = data[data.profit == data.profit.max()]
display(best_profit)

answers['6'] = '5. Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [69]:
biggest_loss = data[data.profit == data.profit.min()]
display(biggest_loss)

answers['7'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [70]:
# находим все строки с положительным значением прибыли 
# и считаем количество строк по какому-либо столбцу:
print(data[data.profit > 0]['imdb_id'].count())
# если считать не по столбцу, а по всему датасету, результат тоже будет получен, 
# просто в чуть менее привлекательном виде
answers['8'] = '1. 1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [71]:
# опять всё как в первом вопросе: берём данные по условию,
# располагаем по убыванию и выводим первую строку:
biggest_revenue_2008 = data[data.release_year == 2008].sort_values(['revenue'], ascending=False).head(1)
display(biggest_revenue_2008)
answers['9'] = '4. The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [72]:
# опять ничего нового: отбор по условию, нахождение строки с минимальной прибылью,
# её запись в новый датасет и вывод этого датасета:
biggest_loss_2012_2014 = data[(data.release_year >= 2012) & 
                              (data.release_year <= 2014)].nsmallest(1, 'profit') 
display(biggest_loss_2012_2014)

answers['10'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [73]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# копируем данные в новый датасет, чтобы основной датасет не пострадал:
popular_genres = data.copy()
# у фильма может быть несколько жанров, поэтому нужно разделить жанры в столбце genres:
popular_genres.genres = popular_genres.genres.str.split('|')  
# и разместить каждый встречающийся жанр на отдельной строке:
popular_genres = popular_genres.explode('genres') 
# создаём сформированную по убыванию таблицу жанров и частоты их использования
# и выводим первую строку:
popular_genres['genres'].value_counts().head(1)  

answers['11'] = '3. Drama'

ВАРИАНТ 2

In [74]:
# можно воспользоваться методом mode и вывести самое часто встречающееся значение:
popular_genres = data.copy()
popular_genres.genres = popular_genres.genres.str.split('|')  
popular_genres = popular_genres.explode('genres') 
popular_genres['genres'].mode()

0    Drama
dtype: object

In [75]:
# можно пользоваться группировкой. Здесь через groupby, по сути то же, что и с value_counts,
# только формируется таблица в случайном порядке и нужную строку нужно находить отдельно
popular_genres = data.copy()
popular_genres.genres = popular_genres.genres.str.split('|')  
popular_genres = popular_genres.explode('genres')  
popular_genres.groupby(['genres'])['imdb_id'].count().nlargest(1,)

genres
Drama    782
Name: imdb_id, dtype: int64

In [76]:
# здесь группируем через pivot_table, работает также как groupby
popular_genres = data.copy()
popular_genres.genres = popular_genres.genres.str.split('|')  
popular_genres = popular_genres.explode('genres')  
popular_genres.pivot_table(index = 'genres', 
                           values = 'imdb_id', aggfunc = 'count').nlargest(1, 'imdb_id')

        imdb_id
genres
Drama       782

In [77]:
# а ещё можно заниматься лютой ерундой.
popular_genres = data.copy()
popular_genres.genres = popular_genres.genres.str.split('|')  
popular_genres = popular_genres.explode('genres') 
# создаём список, включающий в себя все жанры всех фильмов:
genres = []
for s in popular_genres['genres']:
    genres.append(s)
# и выводим самый часто встречающийся элемент списка:
Counter(genres).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [78]:
# тут мы тоже уже всё видели: разделение данных в столбце, 
# отбор по условию и подсчёт частоты значений.
popular_genres = data.copy()
popular_genres.genres = popular_genres.genres.str.split('|')
popular_genres = popular_genres.explode('genres')
popular_genres[popular_genres.profit > 0]['genres'].value_counts().head(1)

answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [79]:
#  в этом ответе будет немного трэша, прошу понять и простить
all_directors = data.copy()
all_directors.director = all_directors.director.str.split('|')
all_directors = all_directors.explode('director')
all_directors = all_directors.groupby(['director'])['revenue'].sum()
# адекватный человек закончил бы на предыдущей строке, но я продолжу
# присваиваем столбцу с суммами название:
all_directors = pd.DataFrame(all_directors, columns = ['revenue']) 
# и ищем максимум по этому столбцу:
all_directors = all_directors[all_directors.revenue == all_directors.revenue.max()]  
display(all_directors)

answers['13'] = '5. Peter Jackson'

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [80]:
#  здесь и далее решение будет более привычным
Action_directors = data.copy()
# небольшая новинка в этой ленте: отбор по условию 
# наличия в строке определённой последовательности символов:
Action_directors = Action_directors[Action_directors.genres.str.contains('Action', na=False)]
Action_directors.director = Action_directors.director.str.split('|')
Action_directors = Action_directors.explode('director')
Action_directors.groupby(['director'])['imdb_id'].count().nlargest(1,)  

answers['14'] = '3. Robert Rodriguez'

15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [81]:
# Здесь опять всё по-старому. И будет так до 24-го вопроса. 
# Честно говоря, не вижу смысла комментировать одно и тоже
data_2012 = data.copy()
data_2012 = data_2012[data_2012.release_year == 2012]
data_2012.cast = data_2012.cast.str.split('|')
data_2012 = data_2012.explode('cast')
data_2012.pivot_table(index = 'cast', values = 'revenue', aggfunc = 'sum').nlargest(1, 'revenue')

answers['15'] = '3. Chris Hemsworth'

16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [82]:
big_budget_movie = data.copy()
big_budget_movie = big_budget_movie[big_budget_movie.budget > big_budget_movie.budget.mean()]
big_budget_movie.cast = big_budget_movie.cast.str.split('|')
big_budget_movie = big_budget_movie.explode('cast')
big_budget_movie.pivot_table(index = 'cast', 
                             values = 'imdb_id', aggfunc = 'count').nlargest(1, 'imdb_id')

answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [83]:
Nicolas_Cage_data = data.copy()
Nicolas_Cage_data = Nicolas_Cage_data[Nicolas_Cage_data.cast.str.contains('Nicolas Cage', na=False)]
Nicolas_Cage_data.genres = Nicolas_Cage_data.genres.str.split('|')
Nicolas_Cage_data = Nicolas_Cage_data.explode('genres')
Nicolas_Cage_data.groupby(['genres'])['imdb_id'].count().nlargest(1,)

answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [84]:
Paramount_Pictures_data = data.copy()
Paramount_Pictures_data = Paramount_Pictures_data[
    Paramount_Pictures_data.production_companies.str.contains('Paramount Pictures', na=False)
]
Paramount_Pictures_data = Paramount_Pictures_data[
    Paramount_Pictures_data.profit == Paramount_Pictures_data.profit.min()
]
display(Paramount_Pictures_data)

answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [85]:
successfull_year = data.copy()
successfull_year.pivot_table(index = 'release_year', 
                             values = 'profit', aggfunc = 'sum').nlargest(1, 'profit')

answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [86]:
successfull_WB_year = data.copy()
successfull_WB_year = successfull_WB_year[
    successfull_WB_year.production_companies.str.contains('Warner Bros', na=False)
]
successfull_WB_year.pivot_table(index = 'release_year', 
                                values = 'profit', aggfunc = 'sum').nlargest(1, 'profit')

answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [87]:
# для этого вопроса пришлось создавать столбец release_month (вынесено в Предобработку)
popular_month = data.copy()
popular_month.pivot_table(index = 'release_month', 
                          values = 'imdb_id', aggfunc = 'count').nlargest(1, 'imdb_id')

answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [88]:
data[(data.release_month >= 6) & (data.release_month <= 8)]['imdb_id'].count()

answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [89]:
winter_director = data.copy()
# для разнообразия осуществим отбор через loc и isin:
winter_director = winter_director.loc[winter_director['release_month'].isin([1, 2, 12])]
winter_director.director = winter_director.director.str.split('|')
winter_director = winter_director.explode('director')
winter_director.pivot_table(index = 'director', 
                            values = 'imdb_id', aggfunc = 'count').nlargest(1, 'imdb_id')

answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [90]:
long_title = data.copy()
# добавляем столбец title_length путём нахождения длины каждой строки в столбце original_title:
long_title['title_length'] = long_title.original_title.apply(lambda s: len(s))
long_title.production_companies = long_title.production_companies.str.split('|')
long_title = long_title.explode('production_companies')
long_title.pivot_table(index = 'production_companies', 
                       values = 'title_length', aggfunc = 'mean').nlargest(1, 'title_length')

answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [91]:
long_overview = data.copy()
# функция нахождения количества слов в строке:
def overview_length(s):
    count = 0
    for letter in s:
        if letter == ' ':
            count += 1  # считаем пробелы в строке.
    return count + 1  # возвращаем количество пробелов + 1 (то есть количество слов).
# создание столбца overview_length:
long_overview['overview_length'] = long_overview.overview.apply(overview_length)
long_overview.production_companies = long_overview.production_companies.str.split('|')
long_overview = long_overview.explode('production_companies')
long_overview.pivot_table(index = 'production_companies', 
                          values = 'overview_length', 
                          aggfunc = 'mean').nlargest(10, 'overview_length')

answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [92]:
one_percent_movies = data.copy()
# находим 1 процент лучших оценок и выводим фильмы с оценками не ниже найденых:
one_percent_movies = one_percent_movies[
    one_percent_movies.vote_average >= np.percentile(one_percent_movies.vote_average, 99)
]
display(one_percent_movies)

# можно было бы просто сгруппировать данные по рейтингу и вывести 1 процент фильмов: 
# one_percent = round(len(one_percent_movies.index) / 100)
# one_percent_movies.nlargest(one_percent, 'vote_average')
# но тогда мы бы незаслуженно обрезали часть фильмов с достаточным рейтингом, увы

answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940,11
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,2009-09-11,7.8,2009,-43452791,9
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,2009-12-23,7.8,2009,61000000,12
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2001-12-18,7.8,2001,778368364,12
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400,12
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,2013-09-18,7.8,2013,76126687,9
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,2013-09-07,7.8,2013,50198285,9
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,2006-10-19,7.8,2006,69676311,10
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,2004-03-19,7.8,2004,52258126,3
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,2007-12-28,7.8,2007,51181545,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [93]:
actor_pairs = data.copy()
actor_pairs.cast = actor_pairs.cast.str.split('|')
# формируем все возможные пары актёров в столбце pairs:
actor_pairs['pairs'] = actor_pairs.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
# разбиваем все пары по отдельным строкам и ищем самый часто встречающийся вариант:
actor_pairs.explode('pairs').pairs.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

ВАРИАНТ 2

In [94]:
# а это почти копия того, что было в 11 задаче.
actor_pairs = data.copy()
actor_pairs.cast = actor_pairs.cast.str.split('|')
#  формируем все пары актёров в одном списке: 
pairs = []  
for s in actor_pairs['cast']:
    pairs.append(list(it.combinations(sorted(s), 2))) 
# так как данные по каждой строке основного датасета добавлены в список pairs
# в виде вложенных списков, то надо эти данные из вложенных списков извлечь:
pairs = list(it.chain(*pairs))  
# выводим наиболее распространённые пары
Counter(pairs).most_common(10)  

answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [95]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [96]:
# и убедиться что ни чего не пропустил)
len(answers)

27